@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import './null';

body {
  font-size: 15px;
  line-height: 1.2;
  font-family: 'Ubuntu', sans-serif;
  background: #a2e4ea;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 15px;
}

.app__wrapper {
  display: grid;

  grid-template-areas:
    'app__header app__header'
    'app__nav app__content';
  grid-template-rows: 55px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app__content {
  grid-area: app__content;
  background-color: #fff;
  border-radius: 5px;
}
